<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label *ngIf="imgurApiService.isConnected() === false">Non connecté</ion-label>
  <ion-label *ngIf="imgurApiService.isConnected() === true">Connecté: {{imgurApiService.account_username}}</ion-label>

  <ion-button (click)="connectAccount()">Se connecter via imgur</ion-button>
  <ion-button *ngIf="imgurApiService.isConnected() === true" (click)="get_account_image()">Debug get_account_image</ion-button>
</ion-content>
