<ion-content>
  <ion-infinite-scroll threshold="100%" position="top" [disabled]="max_up_scroll" (ionInfinite)="loadMore($event, false)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more images...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list class="list-image">
    <ion-card *ngFor="let image of display_list" (click)="seeCard(image)">
      <img [src]="image.link" />
      <ion-card-header>
        <ion-card-title>{{image.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-no-padding" class="ion-no-margin">
        <ion-grid class="ion-no-padding" class="ion-no-margin">
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-item class="ion-text-left" lines="none">
                <!-- Up vote -->
                <ion-icon name="arrow-up-circle-outline" size="small"></ion-icon>
                <ion-label>{{image.ups}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item lines="none">
                <!-- Down vote -->
                <ion-icon name="arrow-down-circle-outline" size="small"></ion-icon>
                <ion-label>{{image.downs}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item lines="none">
                <!-- Comments -->
                <ion-icon name="chatbubble-ellipses-outline" size="small"></ion-icon>
                <ion-label>{{image.comment_count}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item lines="none">
                <!-- Views -->
                <ion-icon name="eye-outline" size="small"></ion-icon>
                <ion-label>{{image.views}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100%" position="bottom" (ionInfinite)="loadMore($event, true)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
