ion-content {
  --ion-background-color: rgb(145, 165, 198);
}

#account_avatar {
  width:100% !important;  
  height : 100% !important;  
  max-width: 33vw !important; 
  max-height: 33vw !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#account_username {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
  font-size: 200%;
  color: white;
  font-weight: 500;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  text-align: center;
  font-size: 120%;
  font-weight: 100;
}

ion-card {
  background-color: #222428;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

h3 {
  font-size: 120%;
  font-weight: bold;
  margin-top: 5%;
  color: white;
}


ion-button {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.account_grid {
  height: 100% !important;
  width: 100% !important;
}

.parent_account_row {
  height: 100% !important;
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}
