<ion-header>
  <ion-toolbar id="post_nav_bar" color="dark">
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">{{image.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="image.link"></ion-img>

  <ion-label><h3 id="info_title">Image infos</h3></ion-label>
  <ion-card color="dark">
    <ion-card-header id="info_header">
      <ion-card-title><h2 class="ion-text-center">{{image.title}}</h2></ion-card-title>
      <ion-card-subtitle><p class="ion-text-justify">{{image.description}}</p></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <h3 *ngIf="image.ups" >{{image.ups}}</h3>
                <h3 *ngIf="!image.ups" >0</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="ion-text-center"><p class="image_numbers_label">Up votes</p></ion-col>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <h3 *ngIf="image.downs">{{image.downs}}</h3>
                <h3 *ngIf="!image.downs">0</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="ion-text-center"><p class="image_numbers_label">Down votes</p></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <h3 *ngIf="image.comment_count">{{image.comment_count}}</h3>
                <h3 *ngIf="!image.comment_count">0</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="ion-text-center"><p class="image_numbers_label">Comments</p></ion-col>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <h3 *ngIf="!image.views">{{image.views}}</h3>
                <h3 *ngIf="image.views">0</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="ion-text-center"><p class="image_numbers_label">Views</p></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-label *ngIf="comments.length > 0"><h3 id="comment_title">Top Comments</h3></ion-label>
  <ion-list id="post_comment_list">
    <div *ngFor="let comment of comments" >
      <ion-card color="dark" >
        <ion-card-header>
          <ion-label style="text-align: left; color: rgba(255, 255, 255, 0.7);"><p>{{comment.datetime | date : "MMM dd, yyyy HH:mm" }}</p></ion-label>
          <ion-label style="text-align: left; color: rgba(255, 255, 255, 0.7);"><p>{{comment.author}}</p></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label><p id="comment_text">{{comment.comment}}</p></ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>          
</ion-content>

<ion-footer>
  <ion-toolbar id="post_toolbar" color="dark">
    <ion-grid class="ion-no-padding" class="ion-no-margin" color="dark">
      <ion-row color="dark">
        <ion-col class="ion-no-padding" color="dark"></ion-col>
        <ion-col class="ion-no-padding" color="dark">
          <!-- Up vote -->
          <ion-item *ngIf="image.vote !== 'up'" class="ion-text-left" lines="none" color="dark" (click)="voteUp()">
            <ion-icon name="arrow-up-circle-outline" size="large"></ion-icon>
          </ion-item>
          <ion-item *ngIf="image.vote === 'up'" class="ion-text-left" lines="none" color="dark" (click)="voteUndo()">
            <ion-icon name="arrow-up-circle" size="large" class="voted"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding" color="dark">
          <!-- Down vote -->
          <ion-item *ngIf="image.vote !== 'down'" lines="none" color="dark" (click)="voteDown()">
            <ion-icon name="arrow-down-circle-outline" size="large"></ion-icon>
          </ion-item>
          <ion-item *ngIf="image.vote === 'down'" lines="none" color="dark" (click)="voteUndo()">
            <ion-icon name="arrow-down-circle" size="large" class="voted"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding" color="dark"color="dark">
          <ion-item lines="none" color="dark" (click)="share()">
            <!-- Share -->
            <ion-icon name="share-social-outline" size="large"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding" color="dark"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

