ion-content {
    --ion-background-color: rgb(145, 165, 198);
}

ion-card {
    #info_header {
        border-bottom: 1px solid rgb(145, 165, 198) !important;
    }
}

.voted {
    color: rgb(145, 165, 198);
}

h3 {
    color: white;
    font-weight: bold;
    font-size: large;
}

.image_numbers_label {
    margin-top: -5px;
    color: rgba(255, 255, 255, 0.7);
}

#comment_text {
    color: rgba(255, 255, 255, 1.0);
}

#comment_title, #info_title {
    color: black;
    margin-top: 11%;
    margin-left: 6%;
    font-size: x-large;
    font-weight: 800;
}
