
ion-content {
    --ion-background-color: rgb(145, 165, 198);
    ion-button {
        display: block;
        position: fixed;
        align-self: center;
        left: 15%;
        right: 15%;
        bottom: 10%;
        width: 70%;
        height: 54px;
    }

    ion-img {
        display: block;
        margin-top: 30%;
    }
}